<div class="container">
  <div style="margin-top: 40px;" class="card">
    <button routerLink="/order" class="proceed"><svg class="sendicon" width="24" height="24" viewBox="0 0 24 24">
  <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
</svg></button>
   <img src="../../../assets/img/Logo2.png" class="logo-card">
 <label>Your Contact No.</label>
 <input id="user" type="text" class="input cardnumber"  placeholder="Enter Mobile Number">
 <label>Name:</label>
 <input class="input name"  placeholder="X.Y.Z.">
 <label class="toleft">CCV:</label>
 <input class="input toleft ccv" placeholder="321">
  </div>
  <div class="receipt">
    <div class="col"><p></p>
   <!--<h2 class="cost">$400</h2><br>-->
    <p>Name:</p>
    <h2 class="seller">Cleano <br>PVT.LTD</h2>
    </div>
    <div class="col">
      <p>Dry Cleaning Service Available In Following Cities:-</p>
      <h3 class="bought-items"></h3>
      <p class="bought-items description">Dry Cleaners in Dehradun | Dry Cleaners in Bhubaneswar | Dry Cleaners in Jaipur | Dry Cleaners in Panchkula | Dry Cleaners in Chandigarh | Dry Cleaners in Patiala | Dry Cleaners in Gwalior | Dry Cleaners in Bhopal |</p>
      <p class="bought-items price"></p><br>
      <h3 class="bought-items"></h3>
      <p class="bought-items description">Look mommmy, it has colors!</p>
      <p class="bought-items price"></p><br>
    </div>
    <p class="comprobe">This information will be sended to your email</p>
  </div>
</div>