<div class="container-fluid footer mt-5">
    <div class="row">
        <!-- Name -->
        <div class="col-lg-6">
            <h1>Cleano</h1>
            <p>TRY IT ONCE FEEL THE DIFFERENCE</p>
        </div>
        <!-- nav  -->
        <div class="col-lg-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <!-- Social Media -->
        <div class="col-lg-2">
            <a herf="#" target="_blank"><i class="bi bi-facebook"></i></a>
            <a herf="#" target="_blank"><i class="bi bi-instagram"></i></a>
            <a herf="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
            <a herf="#" target="_blank"><i class="bi bi-youtube"></i></a>
        </div>
    </div>
</div>